<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - payment momo</title>
</head>
<body>
    <h1>home page user - i'm hello word..!!</h1>
    <form class="d-inline" action="/payment/momo" method="POST">
        <button class="btn btn-outline-danger" type="submit">Payment - momo</button>
    </form>
    <form class="d-inline" action="/payment/zalopay" method="POST">
        <button class="btn btn-outline-danger" type="submit">Payment - Zalopay</button>
    </form>
    <form class="d-inline" action="/create_payment_url" method="POST">
        <button class="btn btn-outline-danger" type="submit">Payment - vnpay</button>
    </form>
</body>
</html>